@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?98cpma');
  src:  url('fonts/icomoon.eot?98cpma#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?98cpma') format('truetype'),
    url('fonts/icomoon.woff?98cpma') format('woff'),
    url('fonts/icomoon.svg?98cpma#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-barrow-with-construction-materials:before {
  content: "\e900";
}
.icon-driller:before {
  content: "\e901";
}

.icon-iconRa:before {
  content: "\e902";
}