* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#sidebar {
    margin-top: 56px;
    z-index: 999;
    background: #BDBDBD;
    border-right: 1px solid #555;
    height: 100%;
    right: 0;
    padding: 50px;
    position: fixed;
    top: 0;
    transition: all linear .2s;
    width: 200px;
}

#sidebar .arrow-box {
    background: #BDBDBD;
    cursor: pointer;
    display: block;
    height: 20px;
    right: 49%;
    position: absolute;
    text-align: center;
    transform: rotate(90deg);
    width: 40px;
    border-bottom: none;
    top: 100px;
    right: 189px;
}

#sidebar .arrow-box .arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    position: absolute;
    width: 0;
    top: 5px;
    left: 8px;
    width: 10px;
}

#sidebar .arrow-box .arrow.dir-one {
    border-bottom: 10px solid #ffffff;
}

#sidebar .arrow-box .arrow.dir-two {
    border-top: 10px solid #ffffff;
}

.styleNotification {
    overflow: scroll;
    height: 500px;
}