#descricaoRel {
    font-weight: lighter;
    font-size: large;
}

.periodo, .origemProgRel, .servicoDiv, .encaminhamnetoDiv, .datProg, .funcionarioDivRel {
    display: none;
}

.geralPdfRel {
    width: 90%;

    margin: auto;
    padding: 10px;

    /*border-radius: 10px;*/
    /*border: 1px solid #1f6377;*/

    /*page-break-inside:avoid;*/
}

.cabecalhoRel {
    margin-bottom: 5px;
}

.cabecalhoRel img {
    width: 100px;
    height: 50px;
    margin: 15px;
}

.tituloRel {
    text-align: center;
    margin-bottom: 30px;
}

.dirRel {
    float: right;
}

.chartRel {
    /*width: 550px;*/
    /*height: 700px;*/
    align-content: center;
    margin: auto;
    margin-bottom: 20px;
}

.centerchart {
    max-width: 18cm;
    height: auto;
    margin: auto;
}

.tableRel th, .tableRel td {
    font-size: 70%;
    border-right: 1px solid #1f6377;
    padding: 10px;
    text-align: center;
}

.legendRel {
    margin-top: 20px;
    border-top: 1px solid #1f6377;
}

.tituloTabelaRel:hover {
    background-color: whitesmoke !important;
    color: black;
}