/*Reset*/
* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
}

.tela {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2b2b2b;
    position: fixed;
}

.pagina {
    width: 800px;
    height: auto;
    padding: 5%;
    padding-bottom: 20%;
    margin: 0% auto;
    background-color: #FFFFFF;
    position: relative;
}

.container-button{
    bottom: 5%;
    right: 5%;
    position: fixed;
    z-index: 100;
}

.container-button button{
    width: 8em;
    height: 3.5em;
    margin: 0.2em;
    border-radius: 25%;
    font-weight: bold;
}

.btn-azul{
    background-color: #0b97c4;
    color: #FFFFFF;
}
.btn-azul:hover{
    background-color: #0b97c485;
    color: #000;
}

.btn-verde{
    background-color: #58c437;
    color: #FFFFFF;
}
.btn-verde:hover{
     background-color: #58c43785;
     color: #000;
 }

.btn-laranja{
    background-color: #c4770d;
    color: #FFFFFF;
}
.btn-laranja:hover{
    background-color: #c4770d85;
    color: #000;
}

.btn-vermelho{
    background-color: #c43328;
    color: #FFFFFF;
}
.btn-vermelho:hover{
    background-color: #c4332885;
    color: #000;
}

.modal-container{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000050;
    z-index: 120;
    display: none;
}

.modal{
    position: relative;
    width: 400px;
    padding: 35px;
    margin: 5% auto;
    background-color: #FFFFFF;
    z-index: 150;
    border-radius: 2%;
}

.header-modal span{
    float: right;
    color: #0a0a0a50;
}

.header-modal span:hover{
    color: #0a0a0a;
}

.body-modal{
    border-top: 1px solid #00000050;
    border-bottom: 1px solid #00000050;

    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.modal textarea{
    width: 100%;
    height: 100px;
    resize: none;
    margin-top: 10px;
    padding: 5px;
    border-radius: 2%;
}

.modal button{
    font-size: 2em;
    border-radius: 25%;
    padding: 10px 25px;
}

table{
    width: 100%;
}

th{
    background-color: #cacaca;
    padding: 0.5%;
}

td{
    padding: 0.5% 1%;
    border: dotted 1px;
    text-transform: uppercase;
}

td:empty{
    height: 2em;
}

.title{
    font-size: larger;
}

.title-table{
    font-weight: bold;
    font-size: larger;
    margin: 2% 2% 1%;
}

.title-module{
    font-weight: bold;
    font-size: larger;
    margin: 2.5% 0% 0%;
    padding: 1% 2% 1%;
    background-color: #cacaca;
}

.table-destaque{
    border: solid 1.5pt;
}

.tr-destaque td{
    border-bottom: solid 1.5pt;
}

.center{
    text-align: center;
}

@media print {
    .tela {
        padding-top: 0;
        background: none;
    }

    .pagina {
        padding: 0;
        margin: 0;
        background: none;
    }

    .container-button{
        display: none;
    }

    button{
        display: none;
    }

    .footer {
        page-break-after: always;
    }
}

.tableResultado{
    border: solid;
    margin-top: 50px;
    font-size:15px;
    text-align: center;
}